*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body
{
    background-color: rgb(240, 240, 240);
}

#content
{
    width: 1000px;
    background-color: #f0f0f0;
    margin: 40px auto;
}

a
{
    display: inline-block;
}

.link:hover
{
    color: #f26552;
    cursor: pointer;
}

.larger_font_size
{
    font-size: 24px;
}

.large_font_size
{
    font-size: 22px;
}

.medium_font_size
{
    font-size: 18px;
}

.small_font_size
{
    font-size: 14px;
}

.smaller_font_size
{
    font-size: 12px;
}

.primary_color
{
    color: #212121;
}

.normal_color
{
    color: #666666;
}

.detail_color
{
    color: #999999;
}

.white_color
{
    color: white;
}

.bold
{
    font-weight: bold;
}

.ellipses_text_singleline
{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipses_text_multiline
{
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.center_content
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical_center
{
    display: flex;
    align-items: center;
}