.page_switch
{
    background: transparent;
    display: flex;
}

.last_page, .next_page
{
    display: inline-block;
    height: 36px; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #9e9e9e;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

.last_page:hover, .next_page:hover
{
    outline: 1px solid #d2d2d2;
    cursor: pointer;
}

.last_page::before, .next_page::after
{
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
}

.last_page::before
{
    margin-right: 5px;
    background: url(../images/left.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.next_page::after
{
    margin-left: 5px;
    background: url(../images/right.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.current_page
{
    padding: 0 20px;
    line-height: 36px;
    text-align: center;
    font-size: 12px;
    color: #9e9e9e;
}

.page_num, .page_num_current, .ellipsis
{
    width: 36px;
    height: 36px;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 12px;
    color: #9e9e9e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_num:hover, .page_num_current:hover
{
    outline: 1px solid #d2d2d2;
    cursor: pointer;
}

.page_num_current
{
    background-color: #e0e0e0;
    color: white;
    width: 36px;
}

.page_num_current:hover
{
    outline: none;
}

.ellipsis
{
    margin: 0;
    background: transparent;
}